/* 
 * The Main Global Header 
 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 52.51px;
    width: 100%;
    background: var(--bg-dark);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-bottom: 1px solid var(--primary-blue-light);
    position: fixed;   
    top: 0;
    left: 0;           
    z-index: 100;
}

/* Wrapper pushing the Logo and Title safely to the left */
.logoContainer {
    display: flex;
    align-items: center;
    gap: 9px;
}

/* The invisible box containing the logo */
.logoPlaceholder {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 9.75px;
}

/* image file for the Logo */
.logoPlaceholder img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

/* The text "Scrumble" next to the logo in the header */
.logoText {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.39px;
}

/* The "ble" in Scrumble colored blue */
.logoText span {
    color: var(--primary-blue);
}

/* 
 * The wrapper storing the items on the far Right of the Header
 * For example: The Unverified Email Tag, Profile picture circle, etc.
 */
.rightSide {
    display: flex;
    align-items: center;
    gap: 11.25px;
}
